@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500&family=Josefin+Sans:ital,wght@0,300;1,300;1,400&family=Libre+Franklin:ital,wght@0,100;0,400;1,200&family=Oswald:wght@200;300;400&family=Playfair+Display:ital,wght@1,800&family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu:ital@1&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    margin: 0;

}
header{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 80px;
    margin-bottom: 30px ;
}
header h1{
    font-size: 35px;
    font-weight: 900;
    margin-bottom:10px ;
}
header p{
    color: rgb(155, 144, 144);
    font-size: 15px;
    width: 450px;
}

button{
    padding: 10px;
    border: none;
    color: white;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    
}
.btn1{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 5px 5px 5px  hsla(170, 30%, 67%, 0.575);
}
.btn2{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 5px 5px 5px  hsla(170, 30%, 67%, 0.575);
}

h3{
    margin-bottom:10px ;
    font-size: 25px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
section img{
    width: 500px;
    margin-right: 80px;
}

section ul{
    width: 250px;
    list-style-type: none;
    margin-top: 50px;
}
section ul li{
    margin-bottom: 20px;
}
section p{
    color: rgb(155, 144, 144);
    font-size: 15px;
    margin-top: 8px;
    line-height: 20px;

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.main h2{
    font-size: 30px;
}

.main p{
    color: rgb(155, 144, 144);
    font-size: 15px;
    margin-top: 8px;
    width: 500px;
    line-height: 20px;
    margin-bottom: 50px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 h2{
    font-size: 30px;
}
.section2 p{
    color: rgb(155, 144, 144);
    font-size: 15px;
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 50px;

}
.top{
    display: flex;
    margin: 25px 200px ;
    list-style-type: none;
}

.top li{
    width: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top img{
    margin-bottom: 20px;
}

.down{
    display: flex;
    list-style-type: none;
    margin-bottom: 100px;
}
.down li {
    margin-right: 70px ;
}
.sec{
    width: 500px;
}
.btns2{
    margin-top: -50px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(233, 223, 223);
    height: 100px;
    
}
footer img{
    width: 50px;
    height: 50px;
}
footer ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 10px 10px;
    gap: 20px;
    
    
}
footer ul li:hover{
    color: hsl(171, 66%, 44%);
}

.icon i{
    margin: 8px;
    
}
.icon i:hover{
    color: hsl(171, 66%, 44%);
}



@media (max-width : 1050px){
    button{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        width:  400px;
        height: 60px;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        text-indent: 140px;

    }
    .btns{
        margin-bottom: 30px;
    }
    .btns2{
        margin-bottom: 30px;
    }
    
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section2 ul{
        display: flex;
        flex-direction: column;
    }
    .down img{
        padding-bottom: 50px;

    }

}

@media (max-width :790px ) {
    button{ 
        width:  300px;
        height: 50px;
        text-indent: 80px;
    }
    header p{
        width: 250px;
    }
    section img{
        width: 300px;
    }
    }
    .main p{
        width: 250px 
    }
    .main img{
        width: 400px;
    }
    .sec{
        width: 250px;
    }
 
    footer{
        flex-direction: column;
        height: 200px;
        
    }


